<a href="https://colab.research.google.com/github/Abdulkadir2516/GMKA_Abdulkadir_Yesilkaya/blob/main/Python_Hat%C4%B1rlatma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.9/dist-packages (0.2.17)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.5.3)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.11.2)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.9/dist-packages (from yfinance) (40.0.1)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2.3.7)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.15)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import yfinance as yf

In [ ]:
B100 = yf.download("XU100.IS", start="2022-01-01", end="2022-12-13")
B100

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,1871.300049,1926.699951,1864.800049,1926.699951,1926.699951,2294101600
2022-01-04,1941.300049,1978.099976,1925.199951,1963.599976,1963.599976,3089629800
2022-01-05,1965.500000,2006.800049,1954.699951,2005.300049,2005.300049,2388007800
2022-01-06,1993.099976,2021.800049,1977.699951,2007.599976,2007.599976,2926993600
2022-01-07,2020.300049,2036.099976,1994.500000,2033.300049,2033.300049,3497541200
...,...,...,...,...,...,...
2022-12-06,4946.600098,5032.600098,4910.299805,5000.100098,5000.100098,5371669700
2022-12-07,5002.000000,5014.600098,4773.399902,4827.000000,4827.000000,5447953400
2022-12-08,4823.299805,4859.299805,4711.399902,4855.899902,4855.899902,4738327300
2022-12-09,4875.200195,5015.200195,4871.299805,5005.299805,5005.299805,4459088100
2022-12-12,5057.500000,5222.600098,5057.500000,5193.299805,5193.299805,6912076100

In [ ]:
B100.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,1871.300049,1926.699951,1864.800049,1926.699951,1926.699951,2294101600
2022-01-04,1941.300049,1978.099976,1925.199951,1963.599976,1963.599976,3089629800
2022-01-05,1965.500000,2006.800049,1954.699951,2005.300049,2005.300049,2388007800
2022-01-06,1993.099976,2021.800049,1977.699951,2007.599976,2007.599976,2926993600
2022-01-07,2020.300049,2036.099976,1994.500000,2033.300049,2033.300049,3497541200

In [ ]:
B100.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 238 entries, 2022-01-03 to 2022-12-12
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       238 non-null    float64
 1   High       238 non-null    float64
 2   Low        238 non-null    float64
 3   Close      238 non-null    float64
 4   Adj Close  238 non-null    float64
 5   Volume     238 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.0 KB

In [ ]:
B100.describe()

,Open,High,Low,Close,Adj Close,Volume
count,238.000000,238.000000,238.000000,238.000000,238.000000,2.380000e+02
mean,2858.702938,2892.874382,2826.201682,2864.360087,2864.360087,3.968257e+09
std,862.768490,879.440475,849.932245,869.955934,869.955934,1.500952e+09
min,1871.300049,1926.699951,1826.800049,1851.400024,1851.400024,6.093581e+08
25%,2183.125061,2200.324951,2172.025024,2184.525085,2184.525085,2.784625e+09
50%,2530.099976,2546.400024,2500.450073,2526.549927,2526.549927,3.521979e+09
75%,3338.075073,3393.299988,3270.825073,3361.925049,3361.925049,4.905930e+09
max,5057.500000,5222.600098,5057.500000,5193.299805,5193.299805,9.055035e+09

In [ ]:
B100 = B100[B100.index > "2022-1-31"]
B100

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-01,2014.000000,2034.900024,2008.699951,2015.400024,2015.400024,2297661700
2022-02-02,2028.900024,2032.699951,1994.300049,2002.199951,2002.199951,3063582100
2022-02-03,1995.699951,2013.599976,1949.199951,1957.900024,1957.900024,2542764700
2022-02-04,1969.699951,1974.199951,1937.000000,1943.800049,1943.800049,2068611600
2022-02-07,1943.199951,1997.599976,1908.599976,1997.599976,1997.599976,2758457300
...,...,...,...,...,...,...
2022-12-06,4946.600098,5032.600098,4910.299805,5000.100098,5000.100098,5371669700
2022-12-07,5002.000000,5014.600098,4773.399902,4827.000000,4827.000000,5447953400
2022-12-08,4823.299805,4859.299805,4711.399902,4855.899902,4855.899902,4738327300
2022-12-09,4875.200195,5015.200195,4871.299805,5005.299805,5005.299805,4459088100
2022-12-12,5057.500000,5222.600098,5057.500000,5193.299805,5193.299805,6912076100

In [ ]:
B100.loc[:]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-02-01,2014.000000,2034.900024,2008.699951,2015.400024,2015.400024,2297661700
2022-02-02,2028.900024,2032.699951,1994.300049,2002.199951,2002.199951,3063582100
2022-02-03,1995.699951,2013.599976,1949.199951,1957.900024,1957.900024,2542764700
2022-02-04,1969.699951,1974.199951,1937.000000,1943.800049,1943.800049,2068611600
2022-02-07,1943.199951,1997.599976,1908.599976,1997.599976,1997.599976,2758457300
...,...,...,...,...,...,...
2022-12-06,4946.600098,5032.600098,4910.299805,5000.100098,5000.100098,5371669700
2022-12-07,5002.000000,5014.600098,4773.399902,4827.000000,4827.000000,5447953400
2022-12-08,4823.299805,4859.299805,4711.399902,4855.899902,4855.899902,4738327300
2022-12-09,4875.200195,5015.200195,4871.299805,5005.299805,5005.299805,4459088100
2022-12-12,5057.500000,5222.600098,5057.500000,5193.299805,5193.299805,6912076100